.git
.gitignore
.env
.env.*
!.env.example
node_modules
**/node_modules
node_modules/**
**/node_modules/**
.pnpm-store
.turbo
**/.turbo
**/.turbo/**
.next
**/.next
**/.next/**
dist
**/dist
**/dist/**
coverage
**/coverage/**
Download
data
*.log
*debug.log*
docker-compose*.override.yml
